<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0.0">

    <!-- font text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- font title -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{% static 'boot/css/register/register.css' %}">
    <link rel="shortcut icon" href="{% static 'boot/images/drboot.png' %}" type="image/x-icon">
    <title>Boot</title>
</head>
<body>
    <div class="container">

        <div class="form-app">

            <form action="" method="post">
                <div class="form-header">
                    <h3>Register</h3>
                    <span>Create your account. it's free and only takes a minute.</span>
                </div>
                <div class="form-flex">
                    <div class="form-group">
                        <input type="text" name="name" id="" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="surname" id="" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" name="email" id="" placeholder="E-mail" required>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <input type="password" name="retype" placeholder="Re-type Password" id="" required>
                </div>

                <div class="form-flex">
                    <div class="form-group">
                        <input type="radio" name="gender" id="" value="M">
                        <label for="male">Male</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="gender" id="" value="F">
                        <label for="female">Female</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="gender" id="" value="O">
                        <label for="female">Other</label>
                    </div>
                </div>

                <div class="form-group">
                    <select name="country" id="">
                        <option value="DRC">Congo DR</option>
                        <option value="FRANCE">FRANCE</option>
                        <option value="CYPRUS">Cyprus</option>
                        <option value="OUGANDA">Ouganda</option>
                    </select>
                </div>

                <div class="form-privacy">
                    <input type="checkbox" name="checkbox" id="">
                    <label for="privacy">
                        I accept the <a href="">Terms of Use</a> &amp; <a href="">Privacy Policy</a> 
                    </label>
                </div>

                <input type="submit" value="Register Now">
            </form>

            
            
        </div>
        <p>Already have an account? <a href="{% url 'index' %}">Sign in</a></p>



    </div>
</body>
</html>