<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0.0">
    
        <!-- font text -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
        <!-- font title -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 
    
        <link rel="stylesheet" href="{% static 'boot/css/setPassword/setPassword.css' %}">
        <link rel="shortcut icon" href="{% static 'boot/images/drboot.png' %}" type="image/x-icon">
        <title>Boot</title>
    </head>
<body>
    <div class="container">

        <div class="boot-card">
            <div class="logo">
                <img src="{% static 'boot/images/drboot.png' %}" alt="">

            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="" required>
                </div>
                
                <div class="form-group">
                    <label for="retype">Re-type Password</label>
                    <input type="password" name="retype"  id="" required>
                </div>
                <input type="submit" value="Set Password">

                
            </form>
            <p>
                Have an account? 
                <a href="{% url 'index' %}" class="create"> Sign in Here </a>
            </p>

        </div>

    </div>
</body>
</html>